p, a {
	font-family: 'Open Sans', sans-serif;
}

#logo-container {
	height: 450px;
	width: 50%;
	float: left;
} 

#navbar-container {
	height: 450px;
	width: 670px;
	float: left;
	text-align: left;
}

.spacing-80 {
	height: 80px;
	width: 100%;
	float: left;
}

.spacing-100 {
	height: 100px;
	width: 100%;
	float: left;
}

.spacing-200 {
	height: 200px;
	width: 100%;
	float: left;
}

.joshua {
	height: 662.44px;
	width: 33%;
	display: inline-block;
	background-repeat: no-repeat;
	float: left;
	opacity: 1; 
	filter: alpha(opacity=100); 
	background: url(../img/josh2.jpg) no-repeat; 
	background-size: 100% 100%;
}

.joshua:hover { 
	background: linear-gradient(rgba(225,0,0,.55),rgba(225,0,0,.55)),url(../img/josh2.jpg); 
	background-size: 100% 100%;
	filter: alpha(opacity=30); 
}

.araik {
	height: 662.44px;
	width: 34%;
	display: inline-block;
	background-repeat: no-repeat;
	float: left;
	opacity: 1; 
	filter: alpha(opacity=100); 
	background: url(../img/araik2.jpg) no-repeat; 
	background-size: 100% 100%;
}

.araik:hover { 
	background: linear-gradient(rgba(225,0,0,.55),rgba(225,0,0,.55)),url(../img/araik2.jpg);
	background-size: 100% 100%;
	filter: alpha(opacity=30); 
}


.nerces {
	height: 662.44px;
	width: 33%;
	display: inline-block;
	background-repeat: no-repeat;
	float: left;
	opacity: 1; 
	filter: alpha(opacity=100); 
	background: url(../img/nerces2.jpg) no-repeat; 
	background-size: 100% 100%;
}

.nerces:hover { 
	background: linear-gradient(rgba(225,0,0,.55),rgba(225,0,0,.55)),url(../img/nerces2.jpg); 
	background-size: 100% 100%;
	filter: alpha(opacity=30); 
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

li {
    display: inline;
}

.font-110 {
	font-size: 110%;
}

.font-120 {
	font-size: 120%;
	margin-top: -30px;
}

.font-140 {
	font-size: 140%;
	font-family: 'Open Sans', sans-serif;
}

.font-160 {
	width: 330px;
	font-size: 160%;
	margin-top: 100px;
	margin-left: 3%;
	float: left;
	color: white;
}

.font-200 {
	font-size: 200%;
}

.font-300 {
	font-size: 300%;
	font-weight: 100;
	color: #2f4f4f;
}

.font-400 {
	font-size: 400%;;
	color: #2f4f4f;
}

.right-font {
	color: rgba(0, 0, 0, 0.5);	
}

.opacity {
    color: rgba(0, 0, 0, 0.5);
}

.float-right {
	float: right;
}

.margin-left-2 {
	margin-left: 2%;
}

.word-spacing {
	word-spacing: 2px;
}

.margin-left-20 {
	margin-left: 20%;
}

.margin-left-50px {
	margin-left: 50px
}

.startup {
	margin-bottom: 0px;
}

.Metalab {
	margin-top: 0px;
}

a.hover-red:hover, a.hover-red:active {
	color: red;	
}

.names-container-1 {
	height: 30px;
	width: 33%;
	float: left;
}

.names-container-2 {
	height: 30px;
	width: 33%;
	float: left;
}

.names-container-3 {
	height: 30px;
	width: 33%;
	float: left;
}

hr {
	clear: left;

}

.quote-container {
	width: 100%;
	height: 300px;
}

.centering {
	margin-top: 200px;
	margin-left: 350px;
	margin-bottom: 290px;
	margin-right: 350px;
}

.pic-container-1 {
	width: 25%;
	height: 520px;
	background: url("../img/andrea.jpg"); 
	background-size: cover;
	background-size: 100% 100%;
	float: left;
}

.pic-container-2 {
	width: 25%;
	height: 520px;
	background: url("../img/cheryl2.jpg");
	background-size: cover;
	background-size: 100% 100%;
	float: left;
}

.pic-container-3 {
	width: 25%;
	height: 520px;
	background: url("../img/daniel.jpg");
	background-size: cover; 
	background-size: 100% 100%;
	float: left;
}

.pic-container-4 {
	width: 25%;
	height: 520px;
	background: url("../img/matt.jpg");
	background-size: cover;
	background-size: 100% 100%;
	float: left;
}

.pic-container-5 {
	width: 25%;
	height: 520px;
	background: url("../img/steve.jpg");
	background-size: cover; 
	background-size: 100% 100%;
	float: left;
}

.pic-container-6 {
	width: 25%;
	height: 520px;
	background: url("../img/shant21.jpg");
	background-size: cover;
	background-size: 100% 100%;
	float: left;
}

.pic-container-7 {
	width: 25%;
	height: 520px;
	background: url("../img/alex2.jpg");
	background-size: cover; 
	background-size: 100% 100%;
	float: left;
}

.pic-container-8 {
	width: 25%;
	height: 520px;
	background: url("../img/cheryl2.jpg");
	background-size: cover; 
	background-size: 100% 100%;
	float: left;
}

.red-line {
	width: 5px;
	border-top: 17px;
	border-color: red;
	float: left;
}

.footer {
	width: 100%;
	height: 325px;
	background-color: #1f2424;
	float: left;
}

.long-list-container-1 {
	height: 175px;
	width: 15%;
	float: left;
	margin-top: 80px;
	margin-left: 200px;
	line-height: 50%;
	color: white;
}

.long-list-container-2 {
	height: 175px;
	width: 15%;
	float: left;
	margin-top: 80px;
	margin-left: -40px;
	line-height: 50%;
	color: white;
}

.long-list-container-3 {
	height: 175px;
	width: 15%;
	float: left;
	margin-top: 80px;
	margin-left: -40px;
	line-height: 50%;
	color: white;
}

.metalab-sizing {
	height: 75px;
	width: 118px;
}

.logo-positioning {
	margin-top: 100px;
	margin-left: 160px;
	float: left;
}

.inverted {
	filter: invert(100%);
}

.red-bar {
	background-color: #d00d20;
	height: 3px;
	width: 20px;
	clear: right;
	margin-left: 50px;
}